<!--https://www.baeldung.com/logback-->

<!-- paragraph Basic Example and Configuration-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- paragraph Variable Substitution-->
    <property name="LOG_DIR" value="D:\bank_log"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}\bank-app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}\bank-app-debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- paragraph Basic Example and Configuration-->
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
<!--    <root level="debug">-->
<!--        <appender-ref ref="FILE_DEBUG"/>-->
<!--    </root>-->
</configuration>